dt{
            margin: 5vh;
            text-decoration: underline;

}

.prop h3{
    margin-left: 7vw;
    
}
@media only screen and (min-width: 1000px) {
    dd a{
        color: black;
        text-decoration: none;
    }
     dd a:visited{
        color: black;
        text-decoration: none;
    }
    iframe{
        display: block;
        justify-content: center;
    }
    .content{
        display: flex;
        justify-content: center;
    }
    body {
        padding: 0;
        margin: 0;
        padding-top: 15vh;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        background-image: linear-gradient(skyblue, white);
        background-color: skyblue;
        color: #552233;
    }
    #navbar ul li a:hover {
        color: yellow;
    }
    #navbar ul li a:active {
        color: blue;
    }
    p {
        line-height: 25px;
    }

    header {
        margin-top: 0;
        padding-top: 0;
        padding-left: 5%;
        width: 100%;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        text-align: left;
        position: fixed;
        top: 0px;
    }

    header h1 {
        margin: 0;
        padding: 0;
        font-size: 4rem;
        color: white;
        padding-top: 1vh;
        text-shadow: 4px 4px #552233;
    }

    #title {
        top: 0px;
        height: 15vh;
        background-image: url("media/gradient.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 2%;
    }

    span a {
        font-size: 6rem;
        color: white;
        text-shadow: 2px 2px 8px black;
        text-decoration: none;
    }

    #navbar {
        z-index: 1;
        font-size: 2rem;
        padding-top: 2vh;
        padding-left: 2vw;
    }

    #navbar ul {
        float: right;
        list-style-type: none;
        padding: 2.5vw 2.5vh;
        margin: 0;
        margin-left: 1.5vw;
    }

    #navbar ul li {
        display: inline;
        padding: 2vw 30px;
    }

    #navbar ul li a {
        text-decoration: none;
        color: white;
        text-shadow: 2px 2px #552233;
    }

    #tibbits {
        width: 80%;
        padding-top: 5%;
        border-top: 0.5px dotted white;
        margin: 1% auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .tibbit {
        width: 30%;
        margin-bottom: 3%;
        border: 0.1px solid white;
        border-radius: 120px;
        padding: 3% 1% 3% 1%;
    }

    .tibbit img {
        width: 100%;
        background-color: white;
        border-radius: 250px;
    }

    .tibbit p,
    .tibbit h2 {
        padding-top: 2%;
        width: 85%;
        margin: auto;
    }

    #about {
        width: 80%;
        margin: auto;
        display: flex;

        border: 0.1px solid white;
        border-radius: 80px;
        padding: 3% 1% 2% 1%;
        margin-bottom: 5%;
    }

    #about img {
        border-radius: 400px;
        width: 15%;
        height: 15%;
        margin: auto;
        margin-top: 3%;
    }

    #aboutGameContent {
        margin: 0% 2%;
        align-content: stretch;
    }
    .prop {
        margin: 5vh;
    }
    .prop h3 {
        text-decoration: underline;
        margin: 0px;
                margin-top: 5vh;

    }
    #aboutGameContent p {
        padding-top: 10%;
    }
    footer {

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

        text-align: center;
        height: 5vh;
        background-color: skyblue;

    }
    #contact {
        height: 20vh;
    }


    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
    }

    dl {
        font-size: 2em;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        padding: 0;
        margin: 0;
        padding-top: 15vh;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        background-image: linear-gradient(skyblue, white);
        background-color: skyblue;
        color: #552233;
    }

    p {
        line-height: 20px;
    }

    header {
        margin-top: 0;
        padding-top: 0;
        padding-left: 5%;
        width: 100%;
        font-family: 'ZCOOL QingKe HuangYou', cursive;
        text-align: left;
        position: fixed;
        top: 0px;
    }

    header h1 {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        color: white;
        padding-top: 1vh;
        text-shadow: 4px 4px #552233;
    }

    #title {
        top: 0px;
        height: 10vh;
        background-image: url("media/gradient.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 2%;
        margin-right: 1.5vw;
    }

    span a {
        font-size: 3rem;
        color: white;
        text-shadow: 2px 2px 8px black;
        text-decoration: none;
    }

    #navbar {
        z-index: 1;
        font-size: 1rem;
        padding-top: 0vh;
    }

    #navbar ul {
        float: right;
        list-style-type: none;
        /*  padding: 0px 0px;*/
        margin: 0;
        margin-left: 10px;
        display: grid;
        grid-template-areas: "home documentation" "project proposal";

    }

    #navbar ul li {
        padding: 1.5vh 1.5vw;

    }

    #navbar ul li a {
        text-decoration: none;
        color: white;
        text-shadow: 2px 2px #552233;

    }
    #navbar ul li a:hover {
        color: yellow;
    }
    #navbar ul li a:active {
        color: blue;
    }
    #tibbits {
        width: 80%;
        padding-top: 5%;
        border-top: 0.5px dotted white;
        margin: 1% auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .tibbit {
        width: 30%;
        margin-bottom: 3%;
        border: 0.1px solid white;
        border-radius: 120px;
        padding: 3% 1% 3% 1%;
    }

    .tibbit img {
        width: 100%;
        background-color: white;
        border-radius: 250px;
    }

    .tibbit p,
    .tibbit h2 {
        padding-top: 2%;
        width: 85%;
        margin: auto;
    }

    #about {
        width: 80%;
        margin: auto;
        display: flex;

        border: 0.1px solid white;
        border-radius: 80px;
        padding: 3% 1% 2% 1%;
        margin-bottom: 5%;
    }
   dd a{
        color: black;
        text-decoration: none;
    }
     dd a:visited{
        color: black;
        text-decoration: none;
    }
    
    #about img {
        border-radius: 400px;
        width: 15%;
        height: 15%;
        margin: auto;
        margin-top: 3%;
    }

    #aboutGameContent {
        margin: 0% 2%;
        align-content: stretch;
    }
    #aboutGameContent p {
        padding-top: 10%;
    }
    footer {

        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

        text-align: center;
        height: 5vh;
        background-color: skyblue;


    }
    
    
    .prop {
        margin: 5vh;
    }
    .prop h3 {
        text-decoration: underline;
        margin: 0px;
    }
    #contact {
        height: 20vh;
    }
    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
    }
    dl {
        font-size: 1em;
    }
    dl dt {
        font-size: 1.5em;
    }

}
